<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <script src="https://kit.fontawesome.com/0bf73eb96e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/CSS" href="/styles/styles.css">
    <link rel="apple-touch-icon" href="/example.png">
    <title>Dorchester Community Care Network</title>
</head>
<body>
<!-- Whole Navigation Bar Begins -->
    <nav class="navbar" role="navigation"> 
<!-- Top Navigation Bar Begins -->
        <div class="navbar-top">
            <div class="navbar-home-icon-container">
                <a href="index">
                    <i class="fas fa-home" aria-hidden="true"></i>
                </a>
            </div>     
            <div class="navbar-logo-container">
                <a href="index" title="navigates to homepage">DORCHESTER <br> COMMUNITY CARE NETWORK</a>
            </div>
            <div class="navbar-top-links-container">
                <div class="navbar-top-links-donate">
                    <a href="donate">Donate</a>
                </div>
                <div class="navbar-top-links">
                    <a href="help">Help</a>
                </div>
                <% if (!locals.user) {%>
                    <div class="navbar-top-links"> 
                        <a href="login">Login</a>
                    </div> 
                    
                <% } else if (locals.user) { %>
                    
                    <div class="navbar-top-links"> 
                        <a href="update-form">Profile</a>
                     </div>  
                <% }; %>
                
                <!-- <div class="navbar-top-links">
                    <a href="#">Translate</a>
                </div> -->
<!-- ATTEMPT AT GETTING NAVBAR HAMBURGER -->
                <!-- <div class="navbar-top-links">
                    <a href="javascript:void(0);" class="icon" onclick="toggleResponsive()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div> -->
                
            </div>
        </div> <!-- End Top Navigation Bar -->   
        <!-- Bottom Navigation Bar Begins-->

        <div class="bottom-nav" id="bottomNav">
            <% if (!locals.user) { %>
                <a href="/index#formTarget">Complete Form</a>
            <% } else { %>
                <a href="/update-form">Logout</a>
                <%}%>
            <a href="update-form">Update Form</a>
            <a href="needs-and-offerings">Needs and Offerings</a>
            <a href="community-resources">Community Resources</a>
            <a class="nav-link-box-special" href="block-coordinator">Become a Block Coordinator</a>
            <a href="about-us">About Us</a>
            <a href="javascript:void(0);" class="icon" onclick="toggleResponsive()">
                Menu &nbsp <i class="fa fa-bars"> </i>
              </a>
        </div>

        <!-- <div class="navbar-bottom-container" id="bottomNav"> 
            <ul class="navbar-bottom-list-links">
                <li><a href="/index#formTarget">Complete<br>Form</a></li>
                <li><a href="update-form">Update<br>Form</a></li>
                <li><a href="needs-and-offerings">Needs and <br> Offerings</a></li>
                <div class="dropdown">
                    <li>
                        <a href="community-resources">Community<br>Resources</a>
                        <div class="dropdown-content">
                            <a href="community-resources-add-organization">Add a <br>Resource</a>
                        </div>
                    </li>
                </div>
                <li><a href="block-coordinator">Become a Block<br>Coordinator</a></li>
                <li><a href="about-us">About Us</a></li>
                <li>
                    <a href="javascript:void(0);" class="icon hamburger" onclick="toggleResponsive()">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            
            </ul>
<!-- ATTEMPT AT GETTING NAVBAR HAMBURGER -->
            <!-- <button>
                <i class="fa fa-bars"></i>
            </button> -->
                <!-- <a href="javascript:void(0);" class="icon hamburger" onclick="toggleResponsive()">
                    <i class="fa fa-bars"></i>
                </a> -->
                    
                
            
        <!-- </div> End Bottom Navigation Bar --> 
    </nav> <!-- End Whole Navigation Bar -->