<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
    <div class="page-container-column">
<!-- Starts the explanation for About Us -->
        <div class="large-content-container-column palette-a">
            <h1>WHO WE ARE</h1>
            <p>
                We are a group of Dorchester residents, community organizers, and workers who are connected to Dorchester Not for Sale, Asian American Resource Workshop, Black Lives Matter Boston, New England United For Justice and other community organizations. The group was formed in the wake of the COVID-19 crisis. 
            </p>
            <p>
                Many thanks to Mutual Aid Medford and Somerville (MAMAS), who initiated creating the original tools that we adapted. To replicate it for your neighborhood, <span><a href="https://docs.google.com/document/d/1ca-sz4DRNvUg8ezcrfd6awH-ahxBDJwnbdzxm4_qDVs/edit?fbclid=IwAR1lzSwA5XnvkVDXBNBkqsJkEB_fKPLMgQMVIUhKJ8GkRG7ZOfhi3gqY5HY" target="_blank">check out their how-to guide.</a></span>
            </p>
            <h1>OUR VALUES</h1>
            <p>
                Dorchester, like many other neighborhoods, suffers from disinvestment and injustices. Here, we have a moment to create cross-class, multi-racial solidarity to support our neighbors who are hit hardest by COVID.
            </p>
            <span>We operate from these sets (proposed) values to guide us, please give us feedback about these!</span>
            <ul>
                <li>
                    We are building power in our neighborhood through relationship building & support. Knowing each other better will allow us to fight for long-term change together.
                </li>
                <li>
                    People in our community have always supported one another before this pandemic and will continue to after it. Building this network is not just about crisis relief but long term relationships and care that can help us continue to build a thriving neighborhood
                </li>
                <li>
                    We are not here to claim work that we haven’t done or to create work that already exists. We are committing to uplifting leaders in the community who have been creating care networks and facilitating support. We seek council from them. 
                </li>
                <li>
                    We are not local heroes and nor are we social workers, a social service. We all benefit from this network and not any one of us claims ownership of this work. This network is all of us. 
                </li>
                <li>
                    We must build a care network that actively fights racism and classism by actively connecting Black, Indigenous, People of Color, immigrants, as well as working-class and poor communities with resources that build their own capacity and autonomy.
                </li>
                <li>
                    Needing things is not a personal failure- we are living in a profoundly inequitable society without safety nets. We respond to requests for basic needs and if resources allow it, also support people’s needs for healing, pleasure, joy, connection.
                </li>
                <li>
                    Every person deserves dignity and stability in their lives. No matter why someone is reaching out, we do our best to support them. We do not question people’s needs when they express them, tell them what they need or pretend we know what is best for anyone. 
                </li>
                <li>
                    Vetting is a practice that can often have racist and classist roots - whereby a group of people discern who is deserving and who is “conning” us for resources. We do not vet people, we only trust and ask/give/support. 
                </li>
                <li>
                    Hurt, harm and disappointment happens in community, even when we mean well and even when we are extending support. If our neighbors hurt or harm us in any way or if we hurt or harm our neighbors, we will respond to it together without involving institutions like the police and courts which historically are unjust and cause disproportionate harm to Black, Indigenous, People of Color & poor neighbors. 
                </li>
            </ul>
            <br>
            <p>See information about our block coordinators and community leaders below.</p>
        </div>
        <div class="medium-content-container-row palette-b">
            <div class="image-container">
                <img src="../images/profileImg.jpg" alt="headshot of organizer">
            </div>
            <div class="text-container-column">
                <h1>Melissa Sawyer</h1>
                <span>
                    Melissa Sawyer is a teacher at the Henderson K-12 Inclusion School in Dorchester. She is working to build the Dorchester Community Care Netwrok website. 
                    <br><br>
                    Melissa lives in the St. Mark's neighborhood of Dorchester.
                    <br><br>
                    Phone Number: (440)864-8409
                    <br>
                    Email: melissasawyer013@gmail.com
                </span>
            </div>
        </div>
    </div>
    <script src="../scripts/scripts.js"></script>
</body>
</html>