<%- include('../partials/header')-%>
<!-- Page Content Starts -->
    <div class="page-container-row">
        <div class="narrow-content-container-column palette-b">
            <h1>COMMUNITY RESOURCES</h1>
            <p>Many organizations are doing mutual aid work at a larger scale than at the individual level. Below, you can find out more information about these organizations, what they’re offering, how to sign up for assistance, and how you can contribute as a volunteer.</p>
        </div>
        <div class="narrow-content-container-column palette-a">
            <h1><a style="font-weight: bold;" href="./community-resources-add-organization">ADD AN ORGANIZATION</a></h1>
            <p>Want to add a resource to this page? <a href="./community-resources-add-organization">Click here</a> to complete the form and submit it to our organizers for review. <br>Criteria for review:</p>
                <ul>
                    <li>must be offering services in Dorchester and Mattapan</li>
                    <br>
                    <li>must have directions or sign-up procedure for residents</li>
                </ul>
        </div>
    </div>
    <div class="page-container-column">
        <div class="medium-content-container-row palette-c">
            <div class="logo-container">
                <img src="../Images/BPSLogo.jpg" alt="Boston Public Schools logo ">
            </div>
            <div class="text-container-column">
                <h1>Boston Public Schools Meal Program</h1>
                    <p>BPS will continue to provide free breakfast and lunch meals to all Boston children beginning Tuesday, March 17. Locations will be open Monday - Friday from 8:30 am - 11:30 am <a href="https://www.bostonpublicschools.org/Page/8098" target="_blank" aria-label="click here to go to the BPS page with the list of schools offering meal pick-ups">at the schools listed here.</a> A variety of packaged meal options will be available for pick-up. 
                    <br> <br>
                    The schools offering meal-pickups in Dorchester and Mattapan are:
                    </p>
                    <ul>
                        <li>McCormack Middle School - 315 Mt Vernon St, Dorchester</li>
                        <li>Community Academy of Science & Health - 11 Charles St, Dorchester</li>
                        <li>Lee K-8 School - 155 Talbot Ave, Dorchester</li>
                        <li>Frederick - 270 Columbia Rd, Dorchester</li>
                        <li>Mildred Ave School - 5 Mildred Ave, Mattapan</li>
                    </ul>
            </div>
        </div>
    </div>
        <script src="../scripts/scripts.js"></script>
</body>
</html>