<%- include('../partials/header')-%>
<!-- Page Content Starts -->
    <div class="page-container-column"> 
        <div class="large-content-container-column palette-b">
            <h1>DONATE TO OUR COLLECTIVE POT</h1>
            <div class="container-row-no-wrap" style="justify-content: space-around;">
                <div class="half-width-content-container-column">
                    <h2>Every little bit counts.</h2>
                    <span class="form-labels-subtext">Click below to donate through one of the platforms.</span>
                    <br>
                    <button class="button-long palette-a">CashApp</button>
                    <br>
                    <button class="button-long palette-a">Venmo</button>
                    <br>
                    <button class="button-long palette-a">Paypal</button>
                </div>
                <div class="half-width-content-container-column">
                    <h2>How we distribute funds</h2>
                    <p>Explain how funds are collected and distributed, giving examples of the kinds of aks the collective pot has been able to provide for.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/scripts.js"></script>
</body>
</html>