<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
    <div class="page-container-column"> 
        <div class="large-content-container-column palette-b">
            <h1>DONATE TO OUR COLLECTIVE POT</h1>
            <div class="container-row-no-wrap" style="justify-content: space-around;">
                <div class="half-width-content-container-column">
                    <h2>Every little bit counts.</h2>
                    <p class="form-labels-subtext">Click below to donate through one of the platforms.</p>
                    <br>
                    <a href="https://venmo.com/DorchesterCommunityCare" target="_blank"><button class="button-long palette-a">Venmo (last 4 of phone: 6147)</button></a>
                    <br>
                    <a href="https://www.paypal.me/DorchesterCommCare?fbclid=IwAR1mmy7h3dsorP9_DAiTxAVhu41ZI2orfbLtctwFfiFJGKQZKVEjr8AzFCE" target="_blank"><button class="button-long palette-a">Paypal</button></a>
                </div>
                <div class="half-width-content-container-column">
                    <h2>How we distribute funds</h2>
                    <p>Funds are distributed by a team of volunteers on an as-needed basis. If you are in need of financial assistance, please complete or edit the form to indicate your need.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/scripts.js"></script>
</body>
</html>