<%- include('../partials/header')-%>
<!-- Page Content Starts -->
    <div class="page-container-column">
        <div class="large-content-container-column palette-a">
            <h1>RESET YOUR PASSWORD</h1>
            <form action="/resetPassword" method="POST">
                <div class="input-containers">
                    <label for="resetPasswordEmail" class="form-labels">Enter your email address *</label>
                    <input type="email" placeholder="YourEmail@email.com" id="resetPasswordEmail" name="resetPasswordEmail" class="text-inputs" required>
                </div>
                <br>
                <input type="submit" class="button palette-b">
                <br>
            </form>
            <br>
            <div class="reset-password-message">
                <p>Your password reset was successful. Check your email for the link.</p>
            </div>
            <a href="./login" aria-label="Click here to navigate to the login page.">Back to login screen</a>
            <br>
        </div>
    </div>
    <script src="../scripts/scripts.js"></script>
</body>
</html>