<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
    <div class="page-container-column">
        <div class="large-content-container-column palette-a">
            <h1>LOGIN</h1>
            <div class="separator-palette-a">&nbsp OR &nbsp</div>
            <br>
            <form id="loginForm" action="/sendLogin" method="POST">
                <div class="input-containers">
                    <label for="username" class="form-labels">Username</label>
                    <input type="text" placeholder="username" id="username" name="username" class="text-inputs" required>
                </div>
                <div class="input-containers">
                    <label for="password" class="form-labels">Password</label>
                    <input type="password" placeholder="password" id="password" name="password" class="text-inputs" required>
                </div>
                <br>
                <input type="submit" class="button palette-b">
                <br>
            </form>
            <p>Don't have an account? <a href="/index">Complete the form on the homepage</a> to create one. <br>(If you are short on time, just complete the required information and you can edit your form entries at a later time.)</p>
        </div>
    </div>
    <script src="../scripts/scripts.js"></script>
</body>
</html>