<%- include('../partials/header')-%>
<!-- Page Content Starts -->
    <div class="page-container-column">
        <div class="large-content-container-column palette-a">
            <h1>LOGIN</h1>
            <span class="form-labels-subtext">Login using Gmail or Facebook</span>
            <div class="container-row-no-wrap" style="justify-content: flex-start;">
                <button class="palette-b">Gmail</button>
                <button class="palette-b">Facebook</button>
            </div>
            <br>
            <div class="separator-palette-a">&nbsp OR &nbsp</div>
            <br>
            <form action="/sendLogin" method="POST">
                <div class="input-containers">
                    <label for="loginUsernameEmail" class="form-labels">Enter your email address * </label>
                    <input type="email" placeholder="YourEmail@email.com" id="loginUsernameEmail" name="loginUsernameEmail" class="text-inputs" required>
                </div>
                <div class="input-containers">
                    <label for="loginPassword" class="form-labels">Password *</label>
                    <input type="password" placeholder="password" id="loginPassword" name="loginPassword" class="text-inputs" required>
                </div>
                <br>
                <input type="submit" class="button palette-b">
                <br>
            </form>
            <a href="/forgot-password" aria-label="Click here to navigate to the password recovery page.">I forgot my password.</a>
            <p>Don't have an account? <a href="/create-account">Click here to create an account.</a></p>
        </div>
    </div>
    <script src="../scripts/scripts.js"></script>
</body>
</html>