/* COLORS: 
Purple: #3F2B39
Old Purple: #513D4C
Yellow: #EBC043
Aqua: #86B59A
Green: #354033
White: #ffffff

FONTS:
ORG NAME:   font-family: 'Noto Sans JP', sans-serif;
BUTTONS, LINKS, HEADINGS:   font-family: 'Noto Sans', sans-serif;
FORMS:   font-family: 'Noto Sans KR', sans-serif;
BLOCKS OF TEXT:   font-family: 'Noto Sans SC', sans-serif; */


/* GLOBAL CLASSES */
body {
    size: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../images/Background-Image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.palette-a {
    background-color: #86B59A;
    color: #000000;
}

.separator-palette-a{
    text-align: center;
    height: 0.85em;
    border-bottom: 2px solid #EBC043;
    margin-bottom: 0.5em;
    letter-spacing: .01em;
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.2em;
}
.separator-palette-a:first-line {
    background-color: #86B59A;
}

.palette-a a:link, 
.palette-a a:visited {
    text-decoration: none;
    color: #3F2B39;
    font-weight: 500;
}

.palette-a a:hover, 
.palette-a a:focus {
    text-decoration: underline #EBC043;
    color: #3F2B39;
    font-weight: bold;
}

.palette-a a:active {
    text-decoration: underline #3F2B39;
    color: #EBC043;
    font-weight: bold;
}

.palette-a h1, h3 {
    color: #3F2B39;
    text-decoration: underline #EBC043;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.palette-b {
    background-color: #3F2B39;
    color: #ffffff;
}

.palette-b h1, h2 {
    text-decoration: underline #EBC043;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.separator-palette-b {
    text-align: center;
    height: 0.85em;
    border-bottom: 2px solid #EBC043;
    margin-bottom: 0.5em;
    letter-spacing: .01em;
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.2em;
}

.separator-palette-b:first-line {
    background-color: #3F2B39;
}

.palette-b a:link, 
.palette-b a:visited {
    text-decoration: underline #EBC043;
    color: #ffffff;
    font-weight: 500;
}

.palette-b a:hover, 
.palette-b a:focus {
    text-decoration: underline #ffffff;
    color: #EBC043;
    font-weight: bold;
}

.palette-b a:active {
    text-decoration: underline #EBC043;
    color: #86B59A;
    font-weight: bold;
}

.palette-c {
    background-color: #354033;
    color: #ffffff;
}

.palete-c h1, h2 {
    text-decoration: underline #EBC043;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.palette-c a:link, 
.palette-c a:visited {
    text-decoration: underline #ffffff;
    color: #EBC043;
    font-weight: 500;
}

.palette-c a:hover, 
.palette-c a:focus {
    text-decoration: underline #EBC043;
    color: #EBC043;
    font-weight: bold;
}

.palette-c a:active {
    text-decoration: underline #3F2B39;
    color: #EBC043;
    font-weight: bold;
}

.palette-d {
    background-color: #EBC043;
    color: #3F2B39;
}

.page-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Noto Sans SC', sans-serif;
}

.page-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    font-family: 'Noto Sans SC', sans-serif;
    flex-wrap: wrap;
    width: 100%;
}

.large-content-container-column {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    font-size: 1.25em;
    padding: 20px 50px;
    margin: 50px 0 30px 0;
    letter-spacing: .02em;
    font-weight: 300;
    line-height: 1.7;
    border: 3px solid #ffffff;
    flex-wrap: wrap;
    width: 75vw;
    justify-content: center;
    /* align-items: center; */
    /* min-width: fit-content; */
}

.large-content-container-row {
    display: flex;
    flex-direction: row;
    width: 75%;
    font-size: 1.25em;
    padding: 20px 50px;
    margin: 50px 0 30px 0;
    letter-spacing: .02em;
    font-weight: 300;
    line-height: 1.7;
    border: 3px solid #ffffff;
    flex-wrap: wrap;
    min-width: fit-content;
}

.medium-content-container-column {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70vw;
    margin: 50px 0 30px 0;
    padding: 20px 50px;
    font-size: 1.2em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    border: solid 3px #ffffff;
}

.medium-content-container-row {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 70vw;
    margin: 50px 0 30px 0;
    padding: 20px 50px;
    font-size: 1.2em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    border: solid 3px #ffffff;
    /* flex-wrap: wrap;
    min-width: fit-content; */
}

.half-width-content-container-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding: 20px;
    /* flex-wrap: wrap;
    min-width: fit-content; */
}

.slim-content-container-column {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    width: 28%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
    flex-wrap: wrap;
    min-width: min-content;
}

.narrow-content-container-column {
    display: flex;
    flex-direction: column;
    max-width: 38vw;
    /* width: 38%; */
    font-size: 1.2em;
    letter-spacing: .02em;
    font-weight: 300;
    line-height: 1.7;
    margin: 50px 20px 50px 10px;
    padding: 20px 50px;
    border: 3px solid #ffffff;
    flex-wrap: wrap;
    min-width: 385px;
    /* min-width: fit-content; */
    /* max-width: 38vw; */


    /* display: flex;
    flex-direction: column;
    max-width: 75vw;
    font-size: 1.25em;
    padding: 20px 50px;
    margin: 50px 0 30px 0;
    letter-spacing: .02em;
    font-weight: 300;
    line-height: 1.7;
    border: 3px solid #ffffff;
    flex-wrap: wrap; */

}

.text-container-column {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 0 0 40px;
    text-align: left;
    align-items: flex-start;
    /* flex-wrap: wrap;
    min-width: fit-content; */
}

.container-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 0 0;
    text-align: left;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    min-width: fit-content;
}

.container-row-no-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 0 0;
    text-align: left;
    justify-content: center;
    align-items: stretch;
    min-width: fit-content;
}

.button-update {
    width: 90px;
}

.button-long{
    margin: 0 20px 0 0;
    width: 300px;
    padding: 10px;
    border: #ffffff solid 2px;
    font-size: .8em;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    text-align: left;
}

.button-update {
    width: 90px;
    font-size: .8em;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 8%;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}

.short-line-break {
    line-height: .7;
    font-size: 1em;
}

/* NEEDS AND OFFERINGS PAGE */
.search-result-row-label {
    width: 30%;
    border-right: 2px solid #ffffff;
    text-align: right;
    margin: 0 5px 0 5px;
    padding: 0 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1em;
}

.search-result-row-result {
    width: 70%;
    padding: 0 5px;
    text-align: start;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

.search-result-textarea {
    height: 4em;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: .05em;
    width: 90%;
    max-width: 600px;
}

/* FORGOT PASSWORD PAGE */
.reset-password-message {
    display: none;
}



/* FORMS GLOBAL STYLING */
.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: .02em;
    font-weight: 300;
    line-height: 1.7;
}

.initially-display-none-explain-more-container {
    padding: 0 0 0 75px;
    margin-top: -30px;
    display: none;
}

.header-legend {
    display: table;
    padding: 0;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: underline #EBC043;
    font-size: 1.5em;
    font-weight: 600;
}

.palette-a .header-legend {
    color: #3F2B39;
}

.sub-field-legend {
    display: table;
    padding: 0;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.0em;
    font-weight: 500;
    margin: 15px 0 0 0;
}

fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
  }

.input-containers {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
}

.form-labels {
    font-weight: 500;
    margin: 0 0 5px 0;
}

.form-labels-subtext {
    font-weight: 300;
}

.text-inputs {
    min-width: auto;
    max-width: 400px;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: .05em;
}

textarea[class="text-inputs"] {
    height: 4em;
    min-width: auto;
    max-width: 600px;
    width: auto;
    margin-top: 15px;
}

.address-number-inputs {
    min-width: auto;
    max-width: 100px;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: .05em;
}

.input-container-check-radio { 
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 5px 0;
}

.input-container-check-radio input{
    transform: scale(1.5);
    margin-right: 20px;
}

.form-labels-check-radio {
    font-weight: 400;
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 15px;
    top: 0;
    left: -2.2px;
    position: relative;
    background-color: #EBC043;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #ffffff;
}

input[type="checkbox"]:checked:after {
    content: "X";
    color: #000000;
    border: 1px solid #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    background: #EBC043;
    text-align: center;
    vertical-align: middle;
}

input:active,
input:focus {
    border: .15em solid ;
    color: #000000;
    outline: 0;
}

input[type='submit'] {
    font-size: .8em;
}

.button {
    display: flex;
    justify-content: center;
    width: 90px;
    margin: 0 5px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    border-radius: 8%;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}

.image-container {
    display: flex;
    max-width: 20%;
    justify-content: center;
    margin: 20px 0 0 0;  
}

.image-container img {
    height: fit-content;
    width: fit-content;
    border: 3px solid #ffffff;
}

.logo-container {
    display: flex;
    max-width: 20%;
    justify-content: center;
    margin: 20px 40px 0 0;  
}

.logo-container img{
    display: flex;
    align-self: flex-start;
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

/* NAVBAR STYLING */
.navbar-top {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #3F2B39;
    opacity: 0.9;
}

.navbar-home-icon-container {
    display: flex;
    margin: 20px 10px 10px 15px;
    padding: 0;
    width: 5%;
}

.fa-home {
    color: #86B59A;
    font-size: 2.65em;
}

.navbar-logo-container {
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    font-size: 2.65em;
    margin: 10px 0;
    width: 45%;
    text-align: right;
    align-items: flex-end;
    align-content: flex-end;
    text-shadow: 1.5px 1.5px #3F2B39;
}

.navbar-logo-container a:link, 
.navbar-logo-container a:visited, 
.navbar-logo-container a:active 
.navbar-logo-container a:hover {
    text-decoration: none;
    color: #ffffff;
}

.navbar-top-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    width: 50%;
    flex-wrap: wrap;
}

.navbar-top-links {
    display: flex;
    justify-content: center;
    width: 90px;
    margin: 0 5px;
    padding: 10px;
    border: #3F2B39 solid 2px;
    background-color: #EBC043;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}

.navbar-top-links a:link, 
.navbar-top-links a:visited {
    text-decoration: none;
    color: #3F2B39;
}

.navbar-top-links a:hover, 
.navbar-top-links a:focus {
    text-decoration: underline;
    font-weight: bold;
    color: #3F2B39;
}

.navbar-top-links a:active {
    text-decoration: underline;
    color: #86B59A;
    font-weight: bold;
}

.navbar-top-links-donate {
    display: flex;
    justify-content: center;
    width: 90px;
    margin: 0 5px;
    padding: 10px;
    background-color: #86B59A;
    color: #000000;
    border: #3F2B39 solid 2px;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}

.navbar-top-links-donate a:link, 
.navbar-top-links-donate a:visited {
    text-decoration: none;
    color: #000000;
}
.navbar-top-links-donate a:hover, 
.navbar-top-links-donate a:focus  {
    text-decoration: underline;
    font-weight: bold;
    color: #EBC043;
}

.navbar-top-links-donate a:active {
    text-decoration: underline;
    color: #ffffff;
    font-weight: bold;
}

.navbar-bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #354033;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    width: 100vw;
    height: auto;
    align-items: center;
    overflow: hidden;
}

.navbar-bottom-list-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: #ffffff;
    list-style-type: none;
    text-align: center;
    width: 100vw;
    align-items: center;  
}

.navbar-bottom-list-links a:link, 
.navbar-bottom-list-links a:visited {
    text-decoration: none;
    color: #ffffff;
}

.navbar-bottom-list-links a:hover, 
.navbar-bottom-list-links a:focus {
    text-decoration: none;
    color: #EBC043;
    font-weight: bold;
}

.navbar-bottom-list-links a:active {
    text-decoration: none;
    color: #86B59A;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #354033;
    min-width: 116px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.9;
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
    margin: 1px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content:hover .dropdown-content {
    display: block;
}

.navigation-current-border {
    border: #EBC043 solid 2px;
    text-decoration: underline;
}

.bottom-nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #354033;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    width: 100vw;
    height: auto;
    align-items: center;
}

.bottom-nav a {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    text-align: center;
    width: 120px;
    padding: 10px 5px;
    margin: 0 5px;
}

.bottom-nav a:link, 
.bottom-nav a:visited {
    text-decoration: none;
    color: #ffffff;
}

.bottom-nav a:hover, 
.bottom-nav a:focus {
    text-decoration: none;
    color: #EBC043;
    font-weight: bold;
}

.bottom-nav a:active {
    text-decoration: none;
    color: #86B59A;
    font-weight: bold;
}

.bottom-nav .nav-link-box-special {
    width: 155px;
}

.bottom-nav .icon {
    display: none;
}

@viewport {
    width: device-width;
    zoom: 1.0 ;
}

@-ms-viewport {
    width: device-width;
}



@media only screen and (max-width: 480px) {
    .body {
        height: 100%;
        word-wrap: break-word;
    }
    .navbar {
        /* display: flex; */
        width: 100vw;
    }
    .navbar-top {
        flex-wrap: wrap;
    }

    .navbar-home-icon-container {
        min-width: fit-content;
        display: block;
        width: 20%;
        margin-left: 10px;
    }

    .navbar-logo-container {
        width: 68%;
        font-size: 1.5em;
        display: block;
        margin-right: 10px;
    }

    .navbar-top-links-container {
        display: flex;
        margin: 0 0 10px 0;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 400;
        width: 100%;
    }

    .navbar-top-links {
        padding: 2px 0;
        width: 80px;
        min-width: fit-content;
        margin: 0 2px 10px 2px;
        font-size: .9em;

    }
    
    .navbar-top-links-donate {
        padding: 2px 0;
        width: 80px;
        margin: 0 2px 10px 2px;
        font-size: .9em;
    }

    .bottom-nav {
        justify-content: flex-end;
     }
     
     .bottom-nav a {
         display: none;
         width: fit-content;
     }
     .bottom-nav a.icon {
         margin: 8px 20px 8px 0;
         display: block;    
     }
 
     .bottom-nav.responsive {
         position: relative;
         display: block;
     }
     .bottom-nav.responsive .icon {
         position: absolute;
         right: 0;
         top: 0;
     }
     .bottom-nav.responsive a {
         float: none;
         display: block;
         text-align: left;
         margin: 15px 10px;
         font-size: .9em;
     }

    .navbar-bottom-list-links li {
        width: 125px;
        height: 50px;
        margin-top: 10px;
    }
    
    .page-container-column{
        margin: 0;
        padding: 0;
        max-width: 100%;
        justify-content: center;
    }

    .page-container-row {
        flex-direction: column;
        justify-content: center;
        
    }

    .large-content-container-column{
        width: fit-content;
        padding: 20px 20px;
        flex-wrap: nowrap;
        font-size: 1em;
        max-width: 89%; 
        width: 89%;

    }

    /* .large-content-container-row{} */

    .medium-content-container-column{
        margin: 10px 0 10px 0;
        padding: 5px 0;
        width: 98%;
        max-width: 100%;
        flex-wrap: wrap;
        
        /* word-wrap: break-word; */
    }

    .word-wrap {
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    .medium-content-container-row{
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px 20px 10px;
        width: 92%;
    }

    .half-width-content-container-column{
        width: 105%;
        align-items: flex-start;
        text-align: left;
        padding: 20px 0;
    }

    /* .slim-content-container-column{} */

    .narrow-content-container-column{
        width: 88%;
        padding: 10px 20px;
        flex-wrap: nowrap;
        font-size: 1em;
        max-width: 100%;
        min-width: 80%;
        margin: 50px 0;  
    }    
    .initially-display-none-explain-more-container {
        padding: 0 0 0 15px;
        margin-top: -25px;
        display: none;
        flex-direction: column;
        max-width: 90%;
    }
    /* .text-container-column{} */

    /* .container-row{
        width: 100%;
        max-width: 100vw;
    } */

    .container-row-no-wrap{
        flex-wrap: wrap;
        max-width: 100%;
        font-size: .85em;
        min-width: 80%;
        width: 100%;
    }

    .container-row-no-wrap.no-wrap {
        flex-wrap: nowrap;
        /* width: 80%; */
    }

    .button-long {
        width: 200px;
    }

    .image-container {
        max-width: 80%;
        align-self: center;
    }

    .input-container-check-radio input{
        transform: scale(1.5);
        margin-right: 20px;
        size: 1.5em;
        min-width: fit-content;
        min-height: fit-content;
        width: fit-content;
        height: fit-content;
    }

    .logo-container{
        max-width: 80%;
        margin: 20px 0;
        align-self: center;
        width: fit-content;
    }

    .logo-container img {
        align-self: center;
    }

    /* NEEDS AND OFFERINGS PAGE */

    .search-result-row-label{
        width: 35%;
    }

    .search-result-row-result{
        width: 65%;
    }

    .medium-content-container-column h2 {
        font-size: 1.2em;
    }

    .search-results-container {
        max-width: 99%;
        align-items: center;
        
    }

    /* .search-result-textarea */

    
    /* FORMS GLOBAL STYLING */

    /* .form-container{} */
    
    /* .initially-display-none-explain-more-container{} */

}

/* 881 is the point where the lower navbars should be converted to a hamburger */

@media only screen and (min-width:481px) and (max-width:640px){
    .word-wrap {
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
    }
    .navbar-top {
        flex-wrap: wrap;
    }

    .navbar-top-links-container {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        margin: 0 0 10px 0;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 400;
        width: 100%;
    }

    .navbar-home-icon-container {
        min-width: fit-content;
        display: block;
        width: 20%;
        margin-left: 10px;
    }

    .navbar-logo-container {
        width: 68%;
        font-size: 2.0em;
        display: block;
        margin-right: 10px;
        align-self: flex-end;
    }

    .bottom-nav {
        justify-content: flex-end;
     }
     
     .bottom-nav a {
         display: none;
         width: fit-content;
     }
     .bottom-nav a.icon {
         margin: 8px 20px 8px 0;
         display: block;    
     }
 
     .bottom-nav.responsive {
         position: relative;
         display: block;
     }
     .bottom-nav.responsive .icon {
         position: absolute;
         right: 0;
         top: 0;
     }
     .bottom-nav.responsive a {
         float: none;
         display: block;
         text-align: left;
         margin: 15px 10px;
         font-size: .9em;
     }
     .bottom-nav .nav-link-box-special {
        width: 300px;
    }
  
}

@media only screen and (min-width:641px) and (max-width:841px) {
    .navbar-top {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .navbar-home-icon-container {
        min-width: fit-content;
        display: block;
        width: 10%;
        margin-left: 10px;
    }

    .navbar-logo-container {
        width: 35%;
        font-size: 2.2em;
        display: block;
        margin-right: 10px;
    }

    .navbar-top-links-container {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 400;
        width: 45%;
    }
    
    .bottom-nav {
        justify-content: flex-end;
     }
     
     .bottom-nav a {
         display: none;
         width: fit-content;
     }
     .bottom-nav a.icon {
         margin: 8px 20px 8px 0;
         display: block;    
     }
 
     .bottom-nav.responsive {
         position: relative;
         display: block;
     }
     .bottom-nav.responsive .icon {
         position: absolute;
         right: 0;
         top: 0;
     }
     .bottom-nav.responsive a {
         float: none;
         display: block;
         text-align: left;
         margin: 15px 10px;
         font-size: .9em;
     }
     .bottom-nav .nav-link-box-special {
        width: 300px;
    }
}

@media only screen and (min-width:842px) and (max-width:877px) {
    .navbar-top {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .navbar-home-icon-container {
        min-width: fit-content;
        display: block;
        width: 10%;
        margin-left: 10px;
    }

    .navbar-logo-container {
        width: 35%;
        font-size: 2.2em;
        display: block;
        margin-right: 10px;
    }

    .navbar-top-links-container {
        display: flex;
        margin: 0 0 10px 0;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 400;
        width: 45%;
    }
    
    .bottom-nav {
        justify-content: flex-end;
     }
     
     .bottom-nav a {
         display: none;
         width: fit-content;
     }
     .bottom-nav a.icon {
         margin: 8px 20px 8px 0;
         display: block;    
     }
 
     .bottom-nav.responsive {
         position: relative;
         display: block;
     }
     .bottom-nav.responsive .icon {
         position: absolute;
         right: 0;
         top: 0;
     }
     .bottom-nav.responsive a {
         float: none;
         display: block;
         text-align: left;
         margin: 15px 10px;
         font-size: .9em;
     }
     .bottom-nav .nav-link-box-special {
        width: 300px;
    }
}

/* 2 or 3 media queries probably */


/* What I've Tried to Get Checkboxes and Radios to outline when they're tabbed through */
/* :host /deep/ [type=checkbox],
:host /deep/ [type=radio] {
    visibility: visible !important;
    opacity: 0 !important;
}
:host /deep/ [type=checkbox]:focus + label,
:host /deep/ [type=radio]:focus + label {
    border: 1px solid #EBC043;
} */

/* .input-container-check-radio:focus + .form-check-label 
{border: solid 2px ##EBC043; */

/* input[type='checkbox']:hover::before, 
input[type='checkbox']:focus:before {
    border: .15px solid #EBC043;
} */




/* COLORS: 
Purple: #3F2B39
Old Purple: #513D4C
Yellow: #EBC043
Aqua: #86B59A
Green: #354033
White: #ffffff

FONTS:
ORG NAME:   font-family: 'Noto Sans JP', sans-serif;
BUTTONS, LINKS, HEADINGS:   font-family: 'Noto Sans', sans-serif;
FORMS:   font-family: 'Noto Sans KR', sans-serif;
BLOCKS OF TEXT:   font-family: 'Noto Sans SC', sans-serif; */
